$layout-bg: #f0f8ff;

.main-wrapper, %main-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @extend %main-wrapper;
}

.layout-wrapper {
  background-color: $layout-bg;
  margin: 0 auto;
  max-width: 1200px;
}
