{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "commonjs": false
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "babel",
    "react",
    "mocha"
  ],
  "globals": {
    "expect": true,
    "__DEV__": true,
    "__TEST__": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-console": 0
  }
}